.autocomplete-list {
    list-style-type: none;
    position: absolute;
    background-color: white;
    border: 1px solid lightgrey;
    width: calc(100% - 30px);
    max-height: 180px;
    overflow-y: scroll;
    z-index: 10;
    padding: 0;
}

.autocomplete-item {
    cursor: pointer;
    padding: 5px 12px;
}

    .autocomplete-item:hover {
        background-color: lightgrey;
    }
